.App {
  display: grid;
  grid-template-columns: 200px 1fr;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
nav {
  /* position: fixed; */
  overflow: hidden;
  background-color: aqua;
  transition: 0.2s all ease-in;
}
.hilight {
  background: hotpink;
}
nav.open {
  transform: translateX(-200px);
}
